<% @future_events.each do |event| %>
            <div class="box descrip">
              <div class="level-item">
                <p>Event Name: </p>
                <span><%= event.name %></span>
              </div>
                <div class="level-item">
                  <p>Time: </p>
                    <span><%= event.start_time.strftime(" %m-%d at: %H:%M") %><strong> --- </strong><%= event.end_time.strftime("%m-%d-%Y at: %H:%M")  %></span>
                </div>
              <div class="level-item">
                <p>User id:</p>
                  <span><%= event.user_id %></span>
              </div>
              <div class="level-item">
                <p>location:</p>
                <span><%= event.location %></span>
              </div>
              <div class="level-item">
                <p>Description:</p>
                <span><%= event.description %></span>
              </div>
              <div class="level-item">
                <p>Date:</p>
                <span><%= event.date.strftime("%m-%d") %></span>
              </div>
              <div class="level-item">
                <% if event.date.past? == true %>
                  <span> This event is already last</span>
                <%else%>
                  <span> This event hasn't happened yet</span>
                <%end%>
              </div>
              <div class="level-item">
                <label class="checkbox">
                  <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
              </div>
              <% if user_signed_in? %>
                <div class="card">
                  <footer class="card-footer">
                    <%= link_to 'Show', event, class:"card-footer-item" %>
                    <%= link_to 'Edit', edit_event_path(event), class:"card-footer-item"%>
                    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-footer-item" %>
                  </footer>
                </div>
              <%else%>
                <%= link_to 'Show', event,class:"button is-info" %>
              <%end%>
            </div>
<%end%>